.h2-class {
  color: red;
}
h3 {
  color: blue;
}
.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /*Make the links appear below each other*/
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: rgb(75, 182, 182); /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #664caf; /* Add a green color to the "active/current" link */
  color: white;
}
.vertical-menu:hover a.cursor {
  text-decoration: none;
  color: blue;
}

img {
  width: 200px;
  height: 300px;
}
